// GENERAL
$background-base-color: #1c1e30;

$component-color: #222337;
$component-compliment-color: #303450;

$green-color: #33d59b;
$yellow-color: #feb72b;
$pink-color: #d3437e;
$red-color: #b24361;
$greenblue-color: #37c9d1;

$button-main-color: #375bd1;
$button-cancel-color: #b24361;

$drop-shadow: #15162645;

// FONTS
$font-header-color: #f5f7fd;
$font-subheader-color: #788098;
$font-primary-color: #a1a2be;
$font-danger-color: #b54573;
$font-secondary-color: #686d92;
$font-placeholder-color: #323650;
$logo-color: #375bd1;
