// GENERAL
$background-base-color:#1C1E30;

$component-color:#222337;
$component-compliment-color:#303450;

$green-color:#33D59B;
$yellow-color:#FEB72B;
$pink-color:#D3437E;
$red-color:#B24361;
$greenblue-color:#37C9D1;

$button-main-color:#375BD1;
$button-cancel-color:#B24361;

// FONTS
$font-header-color:#F5F7FD;
$font-subheader-color:#788098;
$font-primary-color:#A1A2BE;
$font-danger-color:#B54573;
$font-secondary-color:#686D92;
$font-placeholder-color:#323650;
$logo-color:#375BD1;