@import './reset.scss';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import './colors.scss';

$sidebar-width:85px;

body {
	background: $background-base-color;
	color: $font-primary-color;
}

#app {
	display: grid;
	grid-template-columns: $sidebar-width auto;
	grid-template-rows: 100vh;
}

#main-menu {
	display: grid;
	grid-template-rows: 100px auto 100px;
	grid-template-columns: 100%;
	background: $component-color;
	align-items: center;
	justify-content: center;
}

#menu-top,
#menu-center,
#menu-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-item {
	text-align: center;
	width: 100%;
	position: relative;
	display: inline-block;
	padding: .6rem;
}

.menu-item {
	img {
		display: inline-block;
	}
}

.sidebar-hover {
	width: 180px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 0 .5rem .5rem 0;
	position: absolute;
	height: 100%;
	top: 0;
	left: $sidebar-width;
}

.drop-shadow {
	box-shadow: 0.5rem 0.5rem 1rem $drop-shadow;
}