@import './reset';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import './colors';

@font-face {
	font-family: 'OpenSans';
	src: url('/fonts/opensans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('/fonts/opensans/OpenSans-Light.ttf');
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('/fonts/opensans/OpenSans-Bold.ttf');
}

$sidebar-width: 85px;

body {
	font-family: OpenSans;
	background: $background-base-color;
	color: $font-primary-color;
}

#app {}

#app-main {
	display: grid;
	grid-template-columns: $sidebar-width auto;
	grid-template-rows: 100vh;
}

#main-menu {
	display: grid;
	grid-template-rows: 100px auto 100px;
	grid-template-columns: 100%;
	background: $component-color;
	align-items: center;
	justify-content: center;
}

#menu-top,
#menu-center,
#menu-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-item {
	text-align: center;
	width: 100%;
	position: relative;
	display: inline-block;
	padding: 0.6rem;
}

.menu-item:hover .sidebar-hover {
	visibility: visible;
}

.menu-item:hover {
	background-color: $component-compliment-color;
}

.menu-item {
	img {
		display: inline-block;
	}
}

.sidebar-hover {
	display: flex;
	flex-direction: row;
	align-items: center;
	visibility: hidden;
	width: 160px;
	background-color: $component-compliment-color;
	color: $font-primary-color;
	text-align: center;
	border-radius: 0 0.5rem 0.5rem 0;
	position: absolute;
	height: 100%;
	top: 0;
	left: $sidebar-width;
	padding: 0 0 0 1rem;
}

.drop-shadow {
	box-shadow: 0.5rem 0.5rem 1rem $drop-shadow;
}

#main-container {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.title-header {
	grid-area: header;
	text-transform: uppercase;
	margin: 0 0 2rem 0;
}

#page-title {
	color: $font-header-color;
	font-size: 2.5rem;
	margin: 0 0 -0.2rem 0;
}

#page-subtitle {
	font-family: OpenSansLight;
	color: $font-subheader-color;
	font-size: 1.3rem;
}

#page-content {
	grid-area: main;
}

#content-top {
	border-bottom: 1px solid $border-color;
	margin: 0 0 4rem 0;
}

.connection-state {
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 1000px;
}

.client-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.card {
		background: $component-color;
		margin: 0 2rem 2rem 0;
		border-radius: 10px;
		color: $font-subheader-color;
		border: 0;
	}

	.card-body {
		display: grid;
		grid-template-columns: 2rem auto;
		grid-template-rows: 2rem auto;
		align-items: center;
	}

	.card-title {
		font-family: 'OpenSansBold';
		font-size: 1rem;
		text-transform: uppercase;
		grid-column-start: 2;
		margin: 0;
	}

	.card-text {
		grid-column-start: 2;
		color: $font-secondary-color;
	}
}

.connected {
	background: $green-color;
}

.disconnected {
	background: $pink-color;
}

.client-info {
	li {
		display: inline-block;
		margin: 0 1rem 0 0;
	}
}

// TABLE
.table-superheader {
	height: 4.5rem;
	background: $compliment-color;
	border-radius: .8rem .8rem .2rem .2rem;
	
}

.table {
	color: $font-primary-color;

	thead {
		background: $component-compliment-color;
		font-family: 'OpenSansBold';
		border-radius: 5px 5px 0 0;

		tr th:first-child {
			border-radius: 0.3rem 0 0 0;
		}

		tr th:last-child {
			border-radius: 0 0.3rem 0 0;
		}
	}
}

.table-compact {
	tbody {
		tr:nth-child(odd) {
			background-color: $table-nth-odd;
		}

		tr:nth-child(even) {
			background-color: $table-nth-even;
		}
	}
}

.table-spaced {
	tbody {
		tr {
			background-color: $table-nth-odd;
			border-bottom: 1.5rem solid $background-base-color;
		}

		td {
			padding: 1rem 0.75rem;
		}
	}
}

.table-icon-column {
	width: 3rem;
}

.toggle-image {
	width: 1rem;
}

// INPUT
.input-stripped,
.input-stripped:focus {
	background: none;
	border: none;
	border-bottom: 1px solid #323650;
	border-radius: 0;
	-webkit-highlight: none;
	padding: 0;
	color: $font-secondary-color;
	font-size: 1.2rem;
}

.input-stripped[type='text']::placeholder {
	color: $font-placeholder-color;
}

// HELPERS
.no-wrap {
	flex-wrap: nowrap !important;
}

.no-border {
	border: none !important;
}

.add-item-image {
	width: 3rem;
}

.uppercase {
	text-transform: uppercase;
}

//MODAL
.modal-title {
	font-family: 'OpenSansBold';
	text-transform: uppercase;
	font-size: 2rem;
	color: $font-header-color;
}

.modal-form-feedback {
	min-height: 1.2rem;
}