@import './reset.scss';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import './colors.scss';

// @import url('/fonts/opensans/css?family=Open+Sans&display=swap');

@font-face {
	font-family: "OpenSans";
	src: url("/fonts/opensans/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "OpenSansLight";
	src: url("/fonts/opensans/OpenSans-Light.ttf");
}

$sidebar-width: 85px;

body {
	font-family: OpenSans;
	background: $background-base-color;
	color: $font-primary-color;
}

#app {}

#app-main {
	display: grid;
	grid-template-columns: $sidebar-width auto;
	grid-template-rows: 100vh;
}

#main-menu {
	display: grid;
	grid-template-rows: 100px auto 100px;
	grid-template-columns: 100%;
	background: $component-color;
	align-items: center;
	justify-content: center;
}

#menu-top,
#menu-center,
#menu-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-item {
	text-align: center;
	width: 100%;
	position: relative;
	display: inline-block;
	padding: 0.6rem;
}

.menu-item:hover .sidebar-hover {
	visibility: visible;
}

.menu-item:hover {
	background-color: $component-compliment-color;
}

.menu-item {
	img {
		display: inline-block;
	}
}

.sidebar-hover {
	display: flex;
	flex-direction: row;
	align-items: center;
	visibility: hidden;
	width: 160px;
	background-color: $component-compliment-color;
	color: $font-primary-color;
	text-align: center;
	border-radius: 0 0.5rem 0.5rem 0;
	position: absolute;
	height: 100%;
	top: 0;
	left: $sidebar-width;
	padding: 0 0 0 1rem;
}

.drop-shadow {
	box-shadow: 0.5rem 0.5rem 1rem $drop-shadow;
}


#main-content {
	display: grid;
	grid-template-rows: auto;
	grid-template:
		"header header-side header-side"5rem "sub-header sub-header sub-header"7rem "main main main"auto;
	padding: 30px;
}

.title-header {
	grid-area: header;
	text-transform: uppercase;
}

#main-title {
	color: $font-header-color;
	font-size: 2.5rem;
	margin: 0 0 -.2rem 0;
}

#main-subtitle {
	font-family: OpenSansLight;
	color: $font-subheader-color;
	font-size: 1.3rem;

}